.main{
	padding-top: 100px;
}
.home_image{
	width: 100%;
	max-height: 300px;
}
.info{
	/*background: rgba(0, 0, 0, 0.3);*/
	color: green;
}
img.seller{
	width: 60px;
	height: 60px;

}
ul.seller{
	width: 120px;
}
img.seller,
ul.seller{
	float: left;
}
.main{
	position: relative;
	height: 800px;
}

.contact{
	position: absolute;
	background: #ccf;
	min-height:700px;
}

 .SearchPage{
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/c0/Gingerbread_House_Essex_CT.jpg") no-repeat center center fixed;+6
	background-size: cover;
	height: 98vh;
} 

.search{
	top : 50%;
	margin : auto;
	/*background: rgba(0, 0, 0, 0.5);*/
}

html{
	height: 100%;
}
