<span ng-if="ctrl.status == 'success'">
	<div class="container main">
		<div class="row">
		<center><h2>Thông tin chi tiết căn hộ</h2></center>
			<div class="col-xs-12 col-sm-4">
				<div class="insideContact">
					<h3>Liên hệ để biết thêm thông tin</h3>
					<div class="seller">
						<img src="http://photos1.zillowstatic.com/h_n/IS1neprzsdqp9q1000000000.jpg" alt="" class="seller">
						<ul class="seller">
							<li>Tên chủ nhà</li>
							<li>Số điện thoại</li>
							<li>10 recent sale</li>
						</ul>
					</div>
					<form action="" method="POST" role="form">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Name">
							<input type="text" class="form-control" placeholder="Email">
							<input type="text" class="form-control" placeholder="Phone">
							<input type="text" class="form-control" placeholder="I am interested in .....">
						</div>
						<button class="btn btn-primary">Liên hệ với nhân viên</button>
					</form>
				</div>
			</div>

			<div class=" col-xs-12 col-sm-8">
				<img ng-src="ctrl.house.images[0]" alt="" class="img-responsive home_image">
			</div>

			<div class="col-xs-12 col-sm-8">
				<div class="general_info col-xs-12"> 
					<h2>{{ctrl.house.type}}</h2>
					<h4>Mã đăng ký trên trang</h4>
					<h4>Địa chỉ nhà: {{ctrl.house.address}} - {{ctrl.house.district}}</h4>
				</div>

				<div class="room col-xs-6 col-sm-4">{{ctrl.house.noOfBedrooms}} Phòng ngủ</div>
				<div class="room col-xs-6 col-sm-4">{{ctrl.house.noOfBathrooms}} phòng tắm</div>
				<div class="room col-xs-6 col-sm-4">{{ctrl.house.noOfFloors}} Tầng</div>
				<div class="room col-xs-6 col-sm-4">{{ctrl.house.noOfFloors}} nhà bếp</div>
				<div class="room col-xs-6 col-sm-4">1 bể bơi</div>
				<div class="room col-xs-6 col-sm-4">1 vườn cây</div>
			</div>
		</div>
	</div>


	<div class="container homeDetail" >
		
		<div class="row">
			<div class="col-sm-5 col-xs-12 describe">
				<h1>Chi tiết ngôi nhà</h1>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, iste quaerat. Quisquam accusamus illo perferendis aperiam exercitationem delectus maxime dicta cupiditate doloremque quis, magni, voluptas perspiciatis asperiores cum nulla quae.
					{{ctrl.house.description}}
				</p>
			</div>
			<div class="col-sm-4 col-xs-12 school">
				<h1>Trường học gần đây</h1>
				<div class="col-xs-12">
					<h3>{{ctrl.primaries.title}}
						<span class="btn_collapse glyphicon glyphicon-menu-hamburger span-extend" data-toggle="collapse" data-target='#{{ctrl.primaries.type}}'>		
						</span>
					</h3>
					<div id={{ctrl.primaries.type}} class="collapse">
						<table class="table table-condensed">
							<thead></thead>
							<tbody>
								<tr ng-repeat="item in ctrl.primaries">
									<td class="school_name">{{item.name}}</td>
									<td class="distance">{{item.distance}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-sm-3 col-xs-12">
				<h1>Quảng cáo</h1>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="col-xs-12">
			<div id="map"></div>
			<table class="table table-hover">
				<thead>
					<tr class='header'>
						<th>Giá các nhà lân cận</th>
					</tr>
				</thead>
				<tbody>
					<tr class="column_name">
						<td>Địa điểm</td>
						<td>Khoảng cách</td>
						<td>Giá bán</td>
						<td>Ngày bán</td>
						<td>So sánh</td>
					</tr>
					<tr ng-repeat="item in ctrl.neighbor" class='neighbor'>
						<td>{{item.address}}</td>
						<td class="dist">{{item.distance}}</td>
						<td>{{item.price}}</td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<h2 ng-model="city" id = 'city'>{{ctrl.house.city}}</h2>
		</div>
	</div>

	<span ng-if="ctrl.status == 'error'">
		<div class="container main">
			<div class="row">
				<center><h4>Trang web không tồn tại</h4></center>
			</div>
		</div>
	</span>
	<script ng-bind='ctrl.initMap'>
	</script>
	<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2p-8sv_q6LMzBJyU526vs1F6cnW61-9A&callback=initMap">
    </script>
