<div ng-if="houses">
	<div class="container house-for">
		<div class="row">
			<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
				<div class="row">
					<center><h2>Thông tin nhà đất</h2></center>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="row filter-houses" ng-controller="HousesFilterContentCtrl">
							<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
								<select name="district" ng-model="houseFor" class="form-control">
									<option value="">Nhà để</option>
									<option value="rent">Cho thuê</option>
									<option value="sell">Bán</option>
								</select>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
								<select name="district" class="form-control" ng-model='city'>
									<option value="">Chọn tỉnh/thành phố</option>
									<option value="1">Hà Nội</option>
								</select>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
								<select name="ward" class="form-control" ng-model="districtSelected" required="required">
									<option value="">Chọn quận/huyện</option>
									<option ng-repeat="(id, district) in districts" value="{{id}}">{{district.districtName}}</option>
								</select>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
								<select name="area" class="form-control" ng-model="area">
		                    		<option value="">Chọn diện tích</option>                     
		                            <option value="0">&lt;= 30 m2</option>	                        
		                            <option value="1">30 - 50 m2</option>	                        
		                            <option value="2">50 - 80 m2</option>	                        
		                            <option value="3">80 - 100 m2</option>	                        
		                            <option value="4">100 - 150 m2</option>	                        
		                            <option value="5">150 - 200 m2</option>	                        
		                            <option value="6">200 - 250 m2</option>	                        
		                            <option value="7">250 - 300 m2</option>	                        
		                            <option value="8">300 - 500 m2</option>	                        
		                            <option value="9">&gt;= 500 m2</option>
								</select>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
								<select name="price" class="form-control" ng-model="price">
									<option value="">Chọn mứa giá</option>
									<option value="0"> < 1 triệu</option>
									<option value="1">1 - 3 triệu</option>	                        
		                            <option value="2">3 - 5 triệu</option>	                        
		                            <option value="3">5 - 10 triệu</option>	                        
		                            <option value="4">10 - 40 triệu</option>	                        
		                            <option value="5">40 - 70 triệu</option>	                        
		                            <option value="6">70 - 100 triệu</option>
		                            <option value="7">> 100 triệu</option>
								</select>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
								<button type="submit" ng-click="search()" class="btn btn-info">
									<span class="glyphicon glyphicon-search"></span>Tim kiem
								</button>
							</div>
						</div>
						<div class="row">
							<ul class="houses">
								<!-- When ngModel directive is used on an element that represents a component (implemented via a directive with isolate scope), ngModel is locked into this isolate scope and in order to get out and make ngModel useful the ngModel expression has to be prefixed with $parent. -->
								<!-- ng-change must  be placed before ng-model -->
								<li ng-repeat="house in houses | startFrom : currentPage*pageSize | limitTo: pageSize" class="thumbnail row">
									<div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
										<a href="#!/houses/{{house.id}}" class="thumb">
										<img ng-if="house.images[0]" ng-src="{{'http://truliavn.sunkhoai.com:3000/' + house.images[0]}}" class="img img-responsive" alt="{{house.address}}" />
										<img ng-if="!house.images[0]" src='http://nemanjakovacevic.net/wp-content/uploads/2013/07/placeholder.png'>
										
										</a>
									</div>
									<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
										<a href="#!/houses/{{house.id}}">{{house.title}}</a>
										<p ng-bind="house.description"></p>
										<p style="margin-top: 70px; margin-left: 70%;"><b>Ngày đăng</b>: {{house.created_at | date: "yyyy-MM-dd"}}</p>
									</div>
								</li>
							</ul>
						</div>
<!-- 						   <button class= "btn btn-primary" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
						        Previous
						    </button>
						    <span class="btn btn-default"> Page {{currentPage+1}} of {{numberOfPages()}}</span>
						    <button class= "btn btn-primary" ng-disabled="currentPage >= houses.length/pageSize - 1" ng-click="currentPage=currentPage+1">
						        Next
						    </button> -->
						     <uib-pagination total-items="noOfPages" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="true" num-pages="numPages" items-per-page="pageSize"></uib-pagination>
					</div>		
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-if="!houses">
	<div class="container house-for">
		<div class="row">
			<center><h2>Đang tải dữ liệu...</h2></center>
		</div>
	</div>
</div>