<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#!/">Trang chủ</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<li><a href="#!/for-sell">Nhà đất bán</a></li>
				<li><a href="#!/for-rent">Nhà đất cho thuê</a></li>
				<!-- <li><a href="">Cần mua - Cần thuê</a></li> -->
				<li><a href="">Tin tức</a></li>
				<li><a href="">Tư vấn - Hỏi đáp</a></li>
			</ul>
			
			<ul class="nav navbar-nav navbar-right">
<!-- 				<li ng-controller="SearchContent">
					<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Search" ng-model="SearchForm.searchContent">
						</div>
						<button type="submit" class="btn btn-default" ng-click="search()"><span class="glyphicon glyphicon-search"></span></button>
					</form>
				</li> -->
				<li ng-show="userStatus" ng-controller="LogoutControler">
					<div class="dropdown">
					  <div class="dropbtn">{{userName}}<b class="caret"></b></div>
					  <div class="dropdown-content">
					    <a href="#!/update">Thông tin cá nhân</a>
					    <a href="#!/manage-post">Các bài đã đăng</a>
					    <a href="#!/addhouse">Thêm bài đăng</a>
					    <a id="logout" ng-click="logout()" href="">Logout</a>
					  </div>
					</div>			
				</li>
				<li>
					<!-- <a ng-if="user" href="http://localhost:8080/#!/login">Login</a> -->
					<a ng-hide="userStatus" href="#!/login">Login</a>
				</li>
				<li><a href=""></a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div>
</nav>