<form action="" ng-controller="SearchContent">
	<div class="col-xs-12 col-sm-2" style="margin-bottom: 7px;">
		<div class="row">
			<select name="" id="input" class="form-control" ng-model="SearchForm.houseFor">
				<option value="">--> Hình thức <--</option>
				<option value="rent">Cho thuê</option>
				<option value="sell">Bán đi</option>
			</select>
		</div>
	</div>
   	<div class="col-xs-12 col-sm-6" style="margin-bottom: 7px;">
	   	<div class="row">
	   		<input type="search" required placeholder="Hà Nội" ng-model="SearchForm.searchContent" class="form-control"/>
   		</div>
   	</div>
   	<div class="col-xs-12 col-sm-4">	
       	<button class="btn btn-info" ng-click="search()">
       		<span class="glyphicon glyphicon-search" ></span> Tìm ngay
       	</button>
   	</div>
</form>