<div ng-controller="SidebarRightCtrl">
	<span class="label label-success">Top nhà đất cho thuê</span>
	<div class="panel panel-default">

		<!-- Table -->
		<table class="table">
			<tbody>
				<tr ng-repeat="(key, houseRent) in housesRent">
					<td><a href="#!/houses/{{houseRent.id}}">{{houseRent.title}}</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<span class="label label-danger">Top nhà đất bán</span>
	<div class="panel panel-default">
		<!-- Table -->
		<table class="table">
			<tbody>
				<tr ng-repeat="(key, house) in housesSell">
					<td><a href="#!/houses/{{house.id}}">{{house.title}}</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>