<div ng-controller="SidebarRightCtrl">
    
    <div class="panel">
        <div class="panel-heading" style="background : #19C662; color : #fff"><h5>Top nhà đất cho thuê</h5></div>
        <!-- Table -->
        <table class="table">
            <tbody>
                <tr ng-repeat="(key, houseRent) in housesRent">
                    <td><a href="#!/houses/{{houseRent.id}}">{{houseRent.title}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="panel">
        <div class="panel-heading" style="background :#ff8080;  color : #fff"><h5>Top nhà đất bán</h5></div>
        <!-- Table -->
        <table class="table">
            <tbody>
                <tr ng-repeat="(key, house) in housesSell">
                    <td><a href="#!/houses/{{house.id}}">{{house.title}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>