<div class="container house-for">
	<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
		<form enctype="multipart/form-data" id="form-add">
			<input type="hidden" name="email" id="email" class="form-control" ng-value="addHouseForm.email">
			<input type="hidden" name="token" id="token" class="form-control" ng-value="addHouseForm.token">
			<div class="row">
				<h2><center>Thông tin cơ bản</center></h2>
				<div class="form-group">
					<label for="title" class="control-label">Tiêu đề(*)</label>
					<input name="title" id="title" placeholder="Có nhà cho thuê..." class="form-control" required="required" ng-model="addHouseForm.title"></input>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<div class="form-group">
						<label for="type" class="label label-success">Loại(*)</label>
						<select name="type" id="type" class="form-control" required="required" ng-model="addHouseForm.type" ng-value="addHouseForm.type">
						<option value="">---Loại---</option>
							<option value="0">Nhà riêng</option>
							<option value="1">Chung cư</option>
						</select>
					</div>
					<div class="form-group">
						<select name="city" id="city" class="form-control" ng-change="cityChange()" ng-model="addHouseForm.city" required="required">
							<option value="">Chọn tỉnh/thành phố(*)</option>
							<option ng-repeat="(id, city) in cities" value="{{id}}">{{city.cityName}}</option>
						</select>
					</div>
					<div class="form-group">
						<select name="ward" id="ward" class="form-control" ng-model="addHouseForm.ward" required="required">
							<option value="">Chọn phường/xã(*)</option>
							<option ng-repeat="(key, ward) in wards" value="{{key}}">{{ward.wardName}}</option>
						</select>
					</div>
					<div class="form-group">
						<label for="price" class="control-label">Giá nhà(*)</label>
						<input name="price" id="price" class="form-control" placeholder="Triệu vnd" required ng-model="addHouseForm.price">
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<div class="form-group">
						<span class="label label-danger">Hình thức(*)</span>
						<select name="houseFor" id="houseFor" class="form-control" required="required" ng-model="addHouseForm.houseFor">
							<option value="">--Hình thức--</option>
							<option value="0">Cho thuê</option>
							<option value="1">Rao bán</option>
						</select>
					</div>
					<div class="form-group">
						<select name="district" id="district" class="form-control" ng-change="districtChange()" ng-model="addHouseForm.district" required="required">
							<option value="">Chọn quận/huyện(*)</option>
							<option ng-repeat="(id, district) in districts" value="{{id}}">{{district.districtName}}</option>
						</select>
					</div>
					<div class="form-group">
						<select name="street" id="street" class="form-control" ng-change="streetChange()" ng-model="addHouseForm.street" required="required">
							<option value="">Chọn đường/phố(*)</option>
							<option ng-repeat="(id, street) in streets" value="{{id}}">{{street.streetName}}</option>
						</select>
					</div>
					<div class="form-group">
						<div class="form-group">
							<label for="area">Diện tích(*)</label>
							<input name="area" id="area" class="form-control" placeholder="mét vuông" ng-model="addHouseForm.area">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="address" class="control-label">Địa chỉ(*)</label>
					<input name="address" id="address" ng-readonly="true" class="form-control" required="required" ng-model="addHouseForm.address" ng-value="address"></input>
				</div>
			</div>
			<div class="row">
				<h2><center>Thông tin mô tả</center></h2>
				<div class="form-group">
					<label for="description" class="control-label">Mô tả(*)</label>
					<textarea name="description" id="description" class="form-control" rows="4" required="required" ng-model="addHouseForm.description"></textarea>
				</div>
				<article>Giới thiệu chung về bất động sản của bạn. Ví dụ: <b>Khu nhà có vị trí thuận lợi: Gần công viên, gần trường học ... Tổng diện tích 52m2, đường đi ô tô vào tận cửa.</b></article>
				<div class="form-group">
					<label for="images" class="label label-info">Hình ảnh: </label>
					<input type="file" name="images" multiple="" class="btn btn-success" ng-model="addHouseForm.images">
				</div>
			</div>
			<div class="row">
				<b>Lưu ý: </b><strong class="">Các trường đánh dấu (*) là trường bắt buộc phải điền..</strong>
			</div>
			<div class="row">
				<h2><center>Thông tin thêm</center></h2>
				<span>Quý vị nên điền đầy đủ thông tin dưới đây để tin đăng có hiệu quả hơn</span>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="form-group">
						<label for="noOfBedrooms" class="control-label">Số phòng ngủ</label>
						<input name="noOfBedrooms" type="number" id="noOfBedrooms" class="form-control" ng-model="addHouseForm.noOfBedrooms">
					</div>
					<div class="form-group">
						<label for="noOfBathrooms" class="control-label">Số phòng tắm</label>
						<input name="noOfBathrooms" type="number" id="noOfBathrooms" class="form-control" ng-model="addHouseForm.noOfBathrooms">
					</div>
					<div class="form-group">
						<label for="noOfFloors" class="control-label">Số tầng</label>
						<input name="noOfFloors" id="noOfFloors" type="number" class="form-control" ng-model="addHouseForm.noOfFloors"></input>
					</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="form-group">
						<label for="interior" class="control-label">Nội thất</label>
						<input name="interior" id="interior" class="form-control" placeholder="Điều hòa, tủ lạnh,..." ng-model="addHouseForm.interior">
					</div>
					<div class="form-group">
						<label for="buildIn" class="control-label">Nhà xây năm</label>
						<input name="buildIn" id="buildIn" class="form-control" placeholder="2014" ng-model="addHouseForm.buildIn">
					</div>
					<div class="form-group">
						<label for="feePeriod" class="control-label">Thời gian trả tiền </label>
						<input name="feePeriod" id="feePeriod" class="form-control" placeholder="Bao nhiêu tháng một lần" ng-model="addHouseForm.feePeriod">
					</div>		
				</div>		
			</div>
			<div class="alert alert-danger" ng-show = "err">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<b>{{errMessage}}</b>
			</div>
			<center><button type="submit" ng-click="addHouse()" ng-disabled="disabled" class="btn btn-primary btn-lg">Thêm bài đăng</button></center>
		</form>
	</div>
</div>