<div class="container house-for">
	<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
		<form enctype="multipart/form-data" id="form-add" class="form-add-post">
			<input type="hidden" name="email" id="email" class="form-control" ng-value="addHouseForm.email">
			<input type="hidden" name="token" id="token" class="form-control" ng-value="addHouseForm.token">
			<a href="#!/add-post-for-rent-or-sell">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center title-add-post">
					Cần bán/Cho thuê
				</div>
			</a>
			<a href="#!/add-post-for-need-rent-or-buy">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center title-add-post titleSelected">
					Cần mua/Cần thuê
				</div>
			</a>
			<div style="padding-top: 50px;">
				<h2><center>Đăng tin rao cần mua hoặc cần thuê nhà đất</center></h2>
				<div class="form-group">
					<label for="title" class="control-label">Tiêu đề(*)</label>
					<input name="title" id="title" placeholder="Cần thuê hoặc cần mua nhà" class="form-control" required="required" ng-model="addHouseForm.title"></input>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<div class="form-group">
							<label for="type" class="label label-success">Loại(*)</label>
							<select name="type" id="type" class="form-control" required="required" ng-model="addHouseForm.type" ng-value="addHouseForm.type">
							<option value="">---Loại---</option>
								<option value="0">Nhà riêng</option>
								<option value="1">Chung cư</option>
							</select>
						</div>
						<div class="form-group">
							<select name="city" id="city" class="form-control" ng-change="cityChange()" ng-model="addHouseForm.city" required="required">
								<option value="">Chọn tỉnh/thành phố(*)</option>
								<option ng-repeat="(id, city) in cities" value="{{id}}">{{city.cityName}}</option>
							</select>
						</div>
						<div class="form-group">
							<select name="ward" id="ward" class="form-control" ng-model="addHouseForm.ward" required="required">
								<option value="">Chọn phường/xã(*)</option>
								<option ng-repeat="(key, ward) in wards" value="{{key}}">{{ward.wardName}}</option>
							</select>
						</div>
						<div class="form-group">
							<label for="price" class="control-label">Tầm giá(*)</label>
							<input name="price" id="price" class="form-control" placeholder="Triệu vnd" required ng-model="addHouseForm.price">
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<div class="form-group">
							<span class="label label-danger">Hình thức(*)</span>
							<select name="houseFor" id="houseFor" class="form-control" required="required" ng-model="addHouseForm.houseFor">
								<option value="">--Hình thức--</option>
								<option value="3">Cần thuê</option>
								<option value="2">Cần mua</option>
							</select>
						</div>
						<div class="form-group">
							<select name="district" id="district" class="form-control" ng-change="districtChange()" ng-model="addHouseForm.district" required="required">
								<option value="">Chọn quận/huyện(*)</option>
								<option ng-repeat="(id, district) in districts" value="{{id}}">{{district.districtName}}</option>
							</select>
						</div>
						<div class="form-group">
							<select name="street" id="street" class="form-control" ng-change="streetChange()" ng-model="addHouseForm.street" required="required">
								<option value="">Chọn đường/phố(*)</option>
								<option ng-repeat="(id, street) in streets" value="{{id}}">{{street.streetName}}</option>
							</select>
						</div>
						<div class="form-group">
							<div class="form-group">
								<label for="area">Diện tích(*)</label>
								<input name="area" id="area" class="form-control" placeholder="mét vuông" ng-model="addHouseForm.area">
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="address" class="control-label">Địa chỉ(*)</label>
					<input name="address" id="address" ng-readonly="true" class="form-control" required="required" ng-model="addHouseForm.address" ng-value="address"></input>
				</div>
			</div>
			<h2><center>Thông tin mô tả</center></h2>
			<div class="form-group">
				<label for="description" class="control-label">Mô tả(*)</label>
				<textarea name="description" id="description" class="form-control" rows="4" required="required" ng-model="addHouseForm.description"></textarea>
			</div>
			<article>Giới thiệu chung về yêu cầu của bạn đối với ngôi nhà. Ví dụ: Tôi cần mua một ngôi nhà 3 tầng bao gồm 3 phòng ngủ hai phòng tắm, 2 nhà vệ sinh, 1 phòng khách, ....</b></article>
			<div class="form-group">
				<label for="images" class="label label-info">Hình ảnh: </label>
				<input type="file" name="images" multiple="" class="btn btn-success" ng-model="addHouseForm.images">
			</div>
			<b>Lưu ý: </b><strong class="">Các trường đánh dấu (*) là trường bắt buộc phải điền..</strong>
			<div class="alert alert-danger" ng-show = "err" >
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<b>{{errMessage}}</b>
			</div>
			<center><button style="margin-top: 20px;" type="submit" ng-click="addPost()" ng-disabled="disabled" class="btn btn-primary btn-lg">Thêm bài đăng</button></center>
		</form>
	</div>
</div>