<div class="main container">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-offset-3 col-md-6">
        <h1>Chỉnh sửa tài khoản</h1>
        <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
        <form class="form" ng-submit="update()" name="myForm">
            <div class="form-group">
                <label>Họ và tên</label>
                <input type="text" class="form-control" name="fullname" ng-model="updateForm.fullName" ng-value = "userInfo.fullname" ng-required>
            </div>    
            <div class="form-group">
                <label>Số điện thoại</label>
                <input type="number" class="form-control" name="phone" ng-model="updateForm.phone" ng-value = "userInfo.phone" ng-required>
            </div>
             <div class="form-group">
                <label>Địa chỉ</label>
                <input type="text" class="form-control" name="address" ng-model="updateForm.address" ng-value = "userInfo.address" required>
            </div>
            <div class="form-group">
                <label>Thay đổi mật khẩu </label>
                <span class="glyphicon glyphicon-pencil" data-toggle="collapse" data-target="#changePass"></span>
            </div>
            <div class="collapse" id="changePass">
                <div class="form-group">
                    <label>Mật khẩu cũ</label>
                    <input type="password" class="form-control" name="oldpass" ng-model="updateForm.oldpass" ng-required>
                </div>
                <div class="form-group">
                    <label for="newpass">Mật khẩu mới</label>
                    <input type="password" class="form-control" name="newpass" id="newpass" ng-model="updateForm.newpass" ng-required="">
                </div>
                <div class="form-group">
                    <label for="confirmpass">Nhập lại mật khẩu</label>
                    <input type="password" class="form-control" name="confirmpass" id="confirmpass" ng-model="updateForm.confirmpass" ng-required="" password-check="updateForm.newpass">
                </div>
                <div class="msg-block" ng-show="myForm.$error"> <span class="msg-error" ng-show="myForm.confirmpass.$error.pwmatch">Mật khẩu không khớp</span> 
                </div>
            </div>
           
            <div>
                <button type="submit" class="btn btn-primary" ng-disabled="disabled">Cập nhật</button>
            </div>
    </form>
  </div>
</div>