<div ng-if="houses">
	<div class="container house-for">
		<div class="row">
			<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
				<div class="row">
					<center><h2>Thông tin nhà đất để bán</h2></center>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="row filter-houses" ng-controller="HousesFilterCtrl">
							<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
								<select name="district" id="input" class="form-control" required="required">
									<option value="">Chọn tỉnh/thành phố</option>
									<option value="">Hà Nội</option>
								</select>
							</div>
							<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
								<select name="ward" id="input" class="form-control" ng-model="districtSelected" required="required">
									<option value="">Chọn quận/huyện</option>
									<option ng-repeat="(id, district) in districts" value="{{id}}">{{district.districtName}}</option>
								</select>
							</div>
							<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
								<select name="ward" id="input" class="form-control" ng-model="wardSelected" required="required">
									<option value="">Chọn phường/xã</option>
									<option ng-repeat="(key, ward) in wards | customDistrict: districtSelected" value="{{key}}">{{ward.wardName}}</option>
								</select>
							</div>
							<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
								<select name="area" id="input" class="form-control" ng-model="area" required="required">
		                    		<option value="">Chọn diện tích</option>
		                            <option value="0">Chưa xác định</option>	                        
		                            <option value="1">&lt;= 30 m2</option>	                        
		                            <option value="2">30 - 50 m2</option>	                        
		                            <option value="3">50 - 80 m2</option>	                        
		                            <option value="4">80 - 100 m2</option>	                        
		                            <option value="5">100 - 150 m2</option>	                        
		                            <option value="6">150 - 200 m2</option>	                        
		                            <option value="7">200 - 250 m2</option>	                        
		                            <option value="8">250 - 300 m2</option>	                        
		                            <option value="9">300 - 500 m2</option>	                        
		                            <option value="10">&gt;= 500 m2</option>
								</select>
							</div>
							<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
								<select name="price" id="input" class="form-control" ng-change="filterPriceHouse()" ng-model="$parent.price">
									<option value="">Chọn mứa giá</option>
									<option value="1"> < 1 triệu</option>
									<option value="2">1 - 3 triệu</option>	                        
		                            <option value="3">3 - 5 triệu</option>	                        
		                            <option value="4">5 - 10 triệu</option>	                        
		                            <option value="5">10 - 40 triệu</option>	                        
		                            <option value="6">40 - 70 triệu</option>	                        
		                            <option value="7">70 - 100 triệu</option>
		                            <option value="8">> 100 triệu</option>
								</select>
							</div>
						</div>
						<div class="row">
							<ul class="houses">
								<li ng-repeat="house in houses | startFrom : currentPage*pageSize | limitTo: pageSize" class="thumbnail row">
									<div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
										<a href="#!/houses/{{::house.id}}" class="thumb">
										<img ng-if="house.images[0]" ng-src="{{'http://truliavn.sunkhoai.com:3000/' + house.images[0]}}" class="img img-responsive" alt="{{::house.address}}" />
										<img ng-if="!house.images[0]" src='http://nemanjakovacevic.net/wp-content/uploads/2013/07/placeholder.png'>
										
										</a>
									</div>
									<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
										<a href="#!/houses/{{house.id}}">{{::house.title}}</a>
										<p ng-bind="house.description"></p>
										<p style="margin-top: 70px; margin-left: 70%;"><b>Ngày đăng</b>: {{house.created_at | date: "yyyy-MM-dd"}}</p>
									</div>
								</li>
							</ul>
						</div>
						     <uib-pagination total-items="noOfPages" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="pageSize"></uib-pagination>
					</div>		
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-if="!houses">
	<div class="container house-for">
		<div class="row">
			<center><h2>Đang tải dữ liệu...</h2></center>
		</div>
	</div>
</div>