<div ng-if="houses">
	<div class="container house-for">
		<div class="row">
			<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
				<div class="row">
					<center><h2>Thông tin nhà đất cho thuê</h2></center>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<ng-include src="'../view/templates/filter.template.html'" scope="" onload=""></ng-include>
						<div class="row">
							<ul class="houses">
								<li ng-repeat="house in houses | startFrom : currentPage*pageSize | limitTo: pageSize" class="thumbnail row">
									<div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
										<a href="#!/houses/{{::house.id}}" class="thumb">
										<img ng-if="house.images[0]" ng-src="{{'http://truliavn.sunkhoai.com:3000/' + house.images[0]}}" class="img img-responsive" alt="{{::house.address}}" />
										<img ng-if="!house.images[0]" src='http://trulia.sunkhoai.com/asset/icon/placeholder.png'>
										
										</a>
									</div>
									<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
										<a href="#!/houses/{{house.id}}">{{::house.title}}</a>
										<p ng-bind="house.description"></p>
										<p style="margin-top: 70px; margin-left: 70%;"><b>Ngày đăng</b>: {{house.created_at | date: "yyyy-MM-dd"}}</p>
									</div>
								</li>
							</ul>
						</div>
						     <uib-pagination total-items="noOfPages" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" next-text="Tiếp" last-text="Trang cuối" first-text="Trang đầu" previous-text="Trước" rotate="false" num-pages="numPages" items-per-page="pageSize"></uib-pagination>
					</div>		
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-if="!houses">
	<div class="container house-for">
		<div class="row">
			<center><h2>Đang tải dữ liệu...</h2></center>
		</div>
	</div>
</div>