<div ng-if="houses">
	<div class="container house-for">
		<!-- <div class="row"> -->
			<center style="padding-bottom: 20px;"><h2>{{titlePage}}</h2></center>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<ng-include src="'../view/templates/search.template.html'" scope="" onload=""></ng-include>	
			</div>		
			<div class="col-xs-12 col-sm-8">
				<!-- <div class="row">												 -->
					<div class="panel panel-success filter-houses" style="border-right-width: 0px; border-left-width: 0px; background-color: #f5f6f7; border-bottom-width: 0px;">
						<div class="panel-heading">
							<span>Có <strong>{{noOfPages}}</strong> bài đăng được tìm thấy.</span>
							<span class="col-md-offset-4 col-sm-offset-4 col-lg-offset-4">
								<span>Sắp xếp:</span>
								<select ng-change="sortHouses()" ng-model="$parent.selected" >
									<option value="">Thông thường</option>
									<option value="0">Bài đăng mới nhất</option>
									<option value="1">Giá từ thấp đến cao</option>
									<option value="2">Giá từ cao đến thấp</option>
									<option value="3">Diện tích từ thấp đến cao</option>
									<option value="4">Diện tích từ cao đến thấp</option>
								</select>
							</span>
						</div>
						<div class="panel-body" style="padding-bottom: 0px;">
							<ul style="padding-left: 0px;">
								<li ng-repeat="house in houses  | orderBy:attr:reserve | startFrom : (currentPage-1)*pageSize | limitTo: pageSize" class="thumbnail row" style=" box-shadow: 0px 2px 1px 1px rgba(1,201,3,0.1);">
									<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" style="padding-left: 0px; padding-right: 0px;">
										<a href="#!/houses/{{house.id}}" class="thumb">
										<img ng-if="house.images[0]" ng-src="{{'http://trulia.sunkhoai.com:3000/' + house.images[0]}}" class="img img-responsive" alt="{{house.address}}"/>
										<img ng-if="!house.images[0]" src='http://trulia.sunkhoai.com/asset/icon/placeholder.png'>
										
										</a>
									</div>
									<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
										<a href="#!/houses/{{house.id}}" style="text-decoration: none;"><h4>{{house.title}}</h4></a>
										<p ng-bind="house.description"></p>
										<div>Giá: <strong>{{house.price}} triệu</strong></div>
										<div class="row">
											<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
												<span>Diện tích: <strong>{{house.area}} m<sup>2</sup></strong></span>
											</div>
											<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
												<span class="col-xs-12 col-md-offset-6 col-sm-offset-6 col-lg-offset-6"><b>Ngày đăng</b>: {{house.created_at | date: "dd-MM-yyyy"}}</span>
											</div>
										</div>				
									</div>
								</li>
							</ul>
						</div>
					</div>
					<uib-pagination total-items="noOfPages" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="true" next-text="Tiếp" last-text="Trang cuối" first-text="Trang đầu" previous-text="Trước" num-pages="numPages" items-per-page="pageSize"></uib-pagination>
				<!-- </div> -->
			</div>
			<div class="col-xs-12 col-sm-4" style="margin-top: 20px;">
				<ng-include src="'../view/templates/filter.template.html'" scope="" onload=""></ng-include>
				<ng-include src="'../view/templates/sidebar-right.template.html'" scope="" onload=""></ng-include>
			</div>
		<!-- </div> -->
	</div>
</div>
<div ng-if="!houses">
	<div class="container house-for">
		<div class="row">
			<center><h2>Đang tải dữ liệu...</h2></center>
		</div>
	</div>
</div>