<div class="container main">
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
			<div class="row">
				<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
					<div class="panel panel-default">
						<div class="panel-heading">
							Cong cu tim kiem
						</div>
						<div class="panel-body">
							Basic panel example
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
					<div class="panel panel-default">
						<div class="panel-heading">
							Các bài báo nói gì
						</div>
						<div class="panel-body">
							Basic panel example
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
					<div class="panel panel-default">
						<div class="panel-heading">
							Tin rao danh cho ban
						</div>
						<div class="panel-body">
							Basic panel example
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							cac bai moi viet
						</div>
						<div class="panel-body">
							Basic panel example
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
					<div class="row">
						<div class="panel panel-default">
							<div class="panel-heading">
								Tieu diem tuan qua
							</div>
							<div class="panel-body">
								Basic panel example
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								Loi khuyen danh cho ban
							</div>
							<div class="panel-body">
								Basic panel example
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								Phong thuy
							</div>
							<div class="panel-body">
								Basic panel example
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="panel panel-default">
							<div class="panel-heading">
								Tu khoa tim kiem tuan qua
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
										<ul>
											<li>Ha Noi</li>
											<li>Ha Noi</li>
											<li>Ha Noi</li>
										</ul>
									</div>
									<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
										<ul>
											<li>Ha Noi</li>
											<li>Ha Noi</li>
											<li>Ha Noi</li>
										</ul>
									</div>
									<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
										<ul>
											<li>Ha Noi</li>
											<li>Ha Noi</li>
											<li>Ha Noi</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" style="background-color: green;">
		</div>
	</div>
</div>