<!-- <div ng-if="status == 'success'"> -->
<div>
	<div class="container house-for">
		<div style="padding-bottom: 20px;">
			<div class="col-xs-12 col-sm-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<center>Thông tin người đăng</center>
					</div>
					<div class="">
						<center>
							<img src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" style="width: 200px; height: 200px; " class="img img-responsive img-agent" alt="">
						</center>
						<table class="table table-hover" style="margin-bottom: 0px;">
								<tr>
									<td>Chủ nhà</td>
									<td>{{house.ownerInfo.fullname}}</td>
								</tr>
								<tr ng-show="house.ownerInfo.phone">
									<td>SĐT</td>
									<td>{{house.ownerInfo.phone}}</td>
								</tr>
								<tr ng-show="house.ownerInfo.email">
									<td >Email</td>
									<td>{{house.ownerInfo.email}}	</td>				
								</tr>
								<tr ng-show="house.ownerInfo.address">
									<td>Địa chỉ</td>
									<td>{{house.ownerInfo.address}}</td>
								</tr>
						</table>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6" ng-show="house.ownerInfo.phone">
						<a href="tel:{{house.ownerInfo.phone}}" target="_blank" class=" text-center"> 
							<button class="btn btn-danger btn-contact" style="margin-bottom: 5px;">Gọi điện</button>
						</a>
					</div>
					<div class="col-sm-6" ng-show="house.ownerInfo.email">
						<center>
						<a href="mailto:{{house.ownerInfo.email}}" target="_blank" class="text-center">
							<button class="btn btn-danger btn-contact" style="margin-bottom: 5px;">Gửi Mail</button>
						</a>
						</center>
					</div>
				</div>
			</div>

			<div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 col-sm-8">
				<div ng-if="house.images[0]" >
				    <uib-carousel active="active" interval="3000" no-wrap="false">
				      	<uib-slide ng-repeat="(key, slide) in house.images track by key" index="key">
				        	<img ng-src="{{'http://ngocdon.me:3000/' + slide}}" class="img img-thumbnail img-carousel">
				      	</uib-slide>
				    </uib-carousel>
				</div>
				<img ng-if="!house.images[0]" src='../../asset/icon/house-no-image.png' class="img-unknown">
				<h2 ng-hide="house.houseFor">Cho thuê</h2>
				<h2 ng-show="house.houseFor">Nhà đất bán</h2>
				<span>Địa chỉ: </span> {{house.address}}
				<table class="table">
					<tbody>
						<tr> 
							<td ng-show="house.noOfBedrooms">{{house.noOfBedrooms}} phòng ngủ</td>
							<td ng-show="house.noOfBathrooms">{{house.noOfBathrooms}} phòng tắm</td>
						</tr>
						<tr>
							<td ng-show="house.noOfFloors">{{house.noOfFloors}} tầng</td>
							<td ng-show="house.buildIn">Nhà được xây năm {{house.buildIn}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<div class="" >
						<h2 style="margin-top: 0px;">{{house.title}}</h2>
						<span><b>Giá: </b> <strong ng-if="house.price"> {{house.price}} VNĐ </strong><strong ng-if="!house.price"> Thỏa thuận</strong> </span>
						<span style="padding-left: 10px;"><b>Diện tích:  </b><strong> {{house.area}} m<sup>2</sup></strong></span>
						<article>
							
							<div>
								<h3 class="title">Mô tả</h3>
							</div>
							<div ng-bind-html="house.description"></div>

						</article>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
					<ng-include src="'../view/templates/filter.template.html'" scope="" onload=""></ng-include>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
					
				</div>			
			</div>

			<div class="row" ng-if="house.houseFor">
				<center><h2 class="title">Tiện ích xung quanh ngôi nhà</h2></center>
				<div class="col-sm-4 col-md-4 col-xs-12 school">
					<h3 class="title">Trường học gần đây</h3>
					<div ng-repeat='i in school_list'>

						<div class="col-xs-12" >
							<h3 class="title" ng-click='choose(i.type)'>{{i.title}}	
								<span class="glyphicon  glyphicon-menu-down span-extend" data-toggle="collapse" data-target='#{{i.type}}' ng-show="schoolClick == 'down'" ng-click="schoolClick = 'up'"></span>
								<span class="glyphicon  glyphicon-menu-up span-extend" data-toggle="collapse" data-target='#{{i.type}}' ng-show="schoolClick == 'up'" ng-click="schoolClick = 'down'"></span>
							</h3>	

							<div ng-if='select == i.type' id="{{i.type}}">
								<table class="table table-condensed">
									<thead></thead>
									<tbody>
										<tr ng-repeat="item in i">
											<td class="school_name">{{item.name}}</td>
											<td class="distance">{{item.distance}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					
					<h3 class="title" data-toggle="collapse" data-target="#utility" style="padding-top:180px;">Tiện ích khác
						<span class="glyphicon glyphicon-circle-arrow-down span-extend" ng-show="spanClick == 'down'" ng-click="spanClick = 'up'"></span>
						<span class="glyphicon glyphicon-circle-arrow-up span-extend" ng-show="spanClick == 'up'" ng-click="spanClick = 'down'"></span>
					</h3>

					<div id="utility" class="collapse">
						<form name="utilityForm" >
						<div ng-repeat="utility in utilities" class="col-xs-12" >
							<h4><label>
								<input name="myRadioButton" type="radio" ng-value="utility.type" ng-model="utilitySelect" ng-click="choose(utilitySelect)">
								{{utility.title}}
								<span class="span-extend">{{utility.quantity}}</span>
								<br>
							</label></h4>
						</div>
						</form>
					</div>
				</div>
			
				<div class="col-sm-8 col-md-8 col-xs-12 map-marker">
					<div class="radius-form">

						<form name="radiusForm">
							<label >Bán kính : </label>
							<input type="radio" class="radius-radio" name="radiusSelect" ng-value="1000"  ng-click='chooseRadius(1000)'>1000 m
							<input type="radio" class="radius-radio" name="radiusSelect" ng-value="2000"  ng-click='chooseRadius(2000)'>2000 m
							<input type="radio" class="radius-radio" name="radiusSelect" ng-value="3000"  ng-click='chooseRadius(3000)'>3000 m
							<input type="radio" class="radius-radio" name="radiusSelect" ng-value="4000" ng-click='chooseRadius(4000)'>4000 m
							<input type="radio" class="radius-radio" name="radiusSelect" ng-value="5000" ng-click='chooseRadius(5000)'>5000 m
						</form>
					</div>			
					<div>
						<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" bounds="map.bounds">
						   <div  ng-if='select == "primary"'>
						   	 	<ui-gmap-markers models="primaryMarkers" idKey="primaryMarkers.id" coords="'self'" icon="'icon'" options="'options'" events="map.primaryMarkersEvents">
						   		</ui-gmap-markers>
						   </div>	
							<div ng-if='select == "junior"'>
						   		<ui-gmap-markers models="juniorMarkers" idKey="juniorMarkers.id" coords="'self'" icon="'icon'" options="'options'" events="map.juniorMarkersEvents">
						    	</ui-gmap-markers>
						  	</div>
						  	<div ng-if='select == "senior"'>
							    <ui-gmap-markers models="seniorMarkers" idKey="seniorMarkers.id" coords="'self'" icon="'icon'" options="'options'" events="map.seniorMarkersEvents">
							    </ui-gmap-markers>
							</div>
					
							<div ng-if='select == "hospital"'>
						    	<ui-gmap-markers models="hospitalMarkers" idKey="hospitalMarkers.id" coords="'self'" icon="'icon'" options="'options'" events="map.hospitalMarkersEvents">
						    	</ui-gmap-markers>
							</div>					
							<div ng-if='select == "park"'>
						    	<ui-gmap-markers models="parkMarkers" idKey="parkMarkers.id" coords="'self'" icon="'icon'" options="'options'" events="map.parkMarkersEvents">
						    	</ui-gmap-markers>
							</div>
							<div ng-if='select == "restaurant"'>
							    <ui-gmap-markers models="restaurantMarkers" idKey="restaurantMarkers.id" coords="'self'" icon="'icon'" options="'options'" events="map.restaurantMarkersEvents">
							    </ui-gmap-markers>								     
							</div>
							<div ng-if='select == "cafe"'>
							    <ui-gmap-markers models="cafeMarkers" idKey="cafeMarkers.id" coords="'self'" icon="'icon'" options="'options'" events="map.cafeMarkersEvents">
							    </ui-gmap-markers>						
							</div>
							<div ng-if='select == "bus"'>
							    <ui-gmap-markers models="busMarkers" idKey="busMarkers.id" coords="'self'" icon="'icon'" options="'options'" events="map.busMarkersEvents">
							    </ui-gmap-markers>								     
							</div>
							<div ng-if='select == "salon"'>
							    <ui-gmap-markers models="salonMarkers" idKey="salonMarkers.id" coords="'self'" icon="'icon'" options="'options'" events="map.salonMarkersEvents">
							    </ui-gmap-markers>						     
							</div>
							<div ng-if='select == "market"'>
							    <ui-gmap-markers models="marketMarkers" idKey="marketMarkers.id" coords="'self'" icon="'icon'" options="'options'" events="map.marketMarkersEvents">
							    </ui-gmap-markers>								     
							</div>

						   	<ui-gmap-markers models='markers' coords="'coords'" options="marker.options" idkey="marker.id" icon="'icon'">
					        </ui-gmap-markers>
						</ui-gmap-google-map>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- <div class="container" ng-if="house.houseFor"> -->
	<div class="container">
		<div class="col-xs-12 col-sm-9">
			<h1 class="title">Thống kê và xu hướng giá nhà đất gần đây</h1>
			<h3>Bất động sản ở {{addressDistrict}}</h3>
			<div class="col-xs-12">
				<div class="">
					<table class="table table-hover">
						<thead>
							<tr>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr class="table-estimate">
								<td>Giá của ngôi nhà</td>
								<td>{{house.price}} VNĐ</td>
								<td></td>
							</tr>
							<tr  class="table-estimate">
								<td>Giá niêm yết trung bình cho các ngôi nhà ở 
									<a href="#!/estimate" target="_blank" class="a-estimate">{{addressDistrict}}</a>
								</td>
								<td>x đồng</td>
								<td>Tăng/Giảm <span class="span-percent">y %</span></td>
							</tr>
							<tr  class="table-estimate">
								<td>Giá trung bình cho các ngôi nhà ở
									<a href="#!/estimate" target="_blank" class="a-estimate">{{addressDistrict}}</a>
								</td>
								<td>x đồng</td>
								<td>Tăng/Giảm <span class="span-percent">y %</span></td>
							</tr>
						</tbody>
					</table>
				</div>
				
			</div>
		</div>
<!-- 		<div class="col-sm-4">
	<div class="col-xs-12 panel" style="padding : 0">
		<div class="panel-heading panel-green">
			Định giá nhà
		</div>
		<div class="panel-body">
		<div class="row">
			<div class="col-xs-12">
				<select name="posHouse" class="form-control select-filter" ng-change="posChange()" ng-model="posSelected">
					<option value="">--- Vị trí nhà ---</option>
					<option value="1">Mặt đường</option>
					<option value="0">Trong ngõ</option>
				</select>
			</div>
			<div class="col-xs-12">
				<select name="distEst" class="form-control select-filter" ng-change="distEstChange()" ng-model="disEstSelected">
					<option value="">--- Chọn quận/huyện ---</option>
					<option ng-repeat = "(id, district) in distEstimate" value={{id}}>{{district[0].districtName}}</option>
				</select>
			</div>
			<div class="col-xs-12">
				<select name="streetEst" class="form-control select-filter" ng-change="streetEstChange()" ng-model="streetEstSelected">
					<option value="">--- Chọn đường ---</option>
					<option ng-repeat="(id, street) in streetEstimate" value="{{street.id}}">{{street.street}}</option>
				</select>
			</div>
			<div class="col-xs-12">
				<input type="number" class="form-control select-filter" ng-model="$parent.houseWD" placeholder="{{holderStr}}" required>
			</div>
			<div class="col-xs-12">
				<input type="number" class="form-control select-filter" ng-model="houseArea" placeholder="Diện tích nhà tính theo mét vuông" required>
			</div>
			<div class="col-xs-12 form-group">
				<button class="btn btn-success" ng-click="estimate()" style="margin-top : 10px">Định giá</button>
			</div>
			<div class="col-xs-12">
				<h3 class="title">Giá ước lượng ngôi nhà : {{priceEstimate}} VNĐ</h3>
			</div>
		</div> 
		</div>
	</div>
</div>
 -->
	</div>

	<div class="container" ng-if="house.houseFor">
		<div class="col-xs-12">
			<h2 class="text-center">Giá các nhà lân cận</h2>
			<table class="table table-hover">
				<thead>
					<tr class="column_name">
						<th>Tiêu đề</th>
						<th>Khoảng cách</th>
						<th>Giá bán(VNĐ)</th>
						<th>Ngày bán</th>
						<th>So sánh</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in ::neighbor" class='neighbor'>
						<td><a href="#!/houses/{{::item.id}}">{{::item.address}}</a></td>
						<td class="dist">{{::item.distance}}</td>
						<td class="price"><h4>{{::item.price}}<h4></td>
						<td></td>
						<td></td>

					</tr>
				</tbody>
			</table>
	  	  	<ui-gmap-google-map center="map.center" zoom="15" draggable="true" options="options" bounds="map.bounds">
	  	  		<ui-gmap-markers models='markers' coords="'coords'" options="marker.options" icon="'icon'">
            	</ui-gmap-markers>
			    <ui-gmap-markers models="neighborMarkers" coords="'self'" icon="'icon'" options="'options'" events="map.neighborMarkersEvents">
				</ui-gmap-markers>

			</ui-gmap-google-map>

		</div>

	</div>
		<div class="container">
		<div class="row row-suggest">
			<h1 class="title-suggest">Nhà mới đăng gần đây</h1>
			<div class="col-xs-6 col-sm-3 suggest" ng-repeat="new in newest">
				<a href="#!/houses/{{new.id}}">
					<div class="house-suggest">
						<img ng-if="!new.images[0]" src="../../asset/icon/house-no-image.png" alt="" class="home-image">
						<img ng-if="new.images[0]" ng-src="http://ngocdon.me:3000/{{new.images[0]}}" alt="{{new.address}}" class="home-image">
						<div class="house-detail-suggest">
							<div class="house-detail-info-suggest">
								<h4>{{new.price}}</h4>
								<p class="h6">{{new.address}}</p class="h6">
								<p class="h6">{{address}}</p class="h6">
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="row row-suggest">
			<h1 class="title-suggest">Nhà có từ 3 phòng ngủ</h1>
			<div class="col-xs-6 col-sm-4 suggest" ng-repeat="bed in BedRooms3">
				<a href="#!/houses/{{bed.id}}">
					<div class="house-suggest">
						<img ng-if="!bed.images[0]" src="../../asset/icon/house-no-image.png" alt="" class="home-image">
						<img ng-if="bed.images[0]" ng-src="http://ngocdon.me:3000/{{bed.images[0]}}" alt="{{bed.address}}" class="home-image">
						<div class="house-detail-suggest">
							<div class="house-detail-info-suggest">
								<h4>{{bed.price}}</h4>
								<p class="h6">{{bed.noOfBedrooms}} phòng ngủ</p>
								<p class="h6">{{bed.address}}</p class="h6">
								<p class="h6">{{address}}</p class="h6">
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="row row-suggest">
			<h1 class="title-suggest">Nhà có giá dưới {{priceSuggest}}</h1>
			<div class="col-xs-6 col-sm-3 suggest" ng-repeat="max in MaxPrice">
				<a href="#!/houses/{{max.id}}">
					<div class="house-suggest">
						<img ng-if="!max.images[0]" src="../../asset/icon/house-no-image.png" alt="" class="home-image">
						<img ng-if="max.images[0]" ng-src="http://ngocdon.me:3000/{{max.images[0]}}" alt="{{max.address}}" class="home-image">
						<div class="house-detail-suggest">
							<div class="house-detail-info-suggest">
								<h4>{{max.price}}</h4>
								<p class="h6">{{max.address}}</p class="h6">
								<p class="h6">{{address}}</p class="h6">
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="row row-suggest">
			<h1 class="title-suggest">Nhà từ 4 tầng trở lên</h1>
			<div class="col-xs-6 col-sm-4 suggest" ng-repeat="floor in Floors4">
				<a href="#!/houses/{{floor.id}}">
					<div class="house-suggest">
						<img ng-if="!floor.images[0]" src="../../asset/icon/house-no-image.png" alt="" class="home-image">
						<img ng-if="floor.images[0]" ng-src="http://ngocdon.me:3000/{{floor.images[0]}}" alt="{{floor.address}}" class="home-image">
						<div class="house-detail-suggest">
							<div class="house-detail-info-suggest">
								<h4>{{floor.price}}</h4>
								<p class="h6">{{floor.noOfFloors}} tầng</p>
								<p class="h6">{{floor.address}}</p class="h6">
								<p class="h6">{{address}}</p class="h6">
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>

<span ng-if="status == 'error'">
	<div class="container house-for">
		<div class="row">
			<center><h4>Trang web không tồn tại</h4></center>
		</div>
	</div>
</span>
<script>
	$(document).ready(function(){
	});
</script>