body{
	background: #f5f6f7;
}
.marker_labels{
	font-size: 18px;
	font-weight: bold;
	color: #00f;
	/*background-color: #6f9;*/
	border-radius: 10px;
	padding : 10px;

}
.table-map,
.p-map{
	background-color: #093;
	color: #fff;
	border-radius: 10px;
	padding: 10px;
}

html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	overflow: auto;

}

.home{
	padding-top: 40px;
}

.sidebar-left{
	background: url('http://cdn.optimizely.com/img/698392373/f87390e7df0a42ed956e890441c5a652.jpg') no-repeat center center;
	/*position: fixed;*/
}
 /*---------------Scrollbar-------------------*/
.sidebar-right{
	margin-left: 20px;
    overflow-y: scroll;
    /*overflow: hidden;*/
    overflow-x: hidden;
    height: 768px;
}
.search{
	display: flex;
  	justify-content: center;
  	align-items: center;
  	height: 768px;
}

.home_image{
	width: 100%;
	max-height: 300px;
}
.info{
	/*background: rgba(0, 0, 0, 0.3);*/
	color: green;
}
img.seller{
	width: 60px;
	height: 60px;

}
ul.seller{
	width: 120px;
}
img.seller,
ul.seller{
	float: left;
}

.contact{
	position: absolute;
	background: #ccf;
	min-height:700px;
}

.filter-houses{
	padding-top: 20px;
}

.houses{
	padding-top: 50px;
}
.msg-block {
    margin-top:5px;
}
.msg-error {
    color:#F00;
    font-size:14px;
}
.neighbor{
	color: green;
	font-size: 18px;
}
tr.column_name{
	font-weight: bold;
	font-size: 20px;
	color: gray;
}
tr.header{
	font-weight: bold;
	font-size: 25px;
	color: gray;
}

#description, 
#school{
	color: #f06;
}

.school_name,
.distance{
	color: green;
	font-weight: bold;
}
.distance{
	padding-left: 10px;
} 	
.span-extend {
	float: right;
}
.homeDetail{
	color: #002699;
}


.angular-google-map-container { height: 500px; }

.house-for{
	padding-top: 100px;
}


.carousel-inner > .item > .img-carousel,
.img-unknown{
	width: 100%;
	height: 500px;
}

/*------------------NAVBAR---------------------*/
.navbar-default{
	background-color: #2ecc71;
}
.navbar-default .navbar-nav>li>a {
	color: #fff;
}
.navbar-default .navbar-nav>li>a:hover{
	background-color: #d3fdaf;
}

.navbar-default .navbar-brand {
    color: #f5f5f5;
}

.dropbtn {
    cursor: pointer;
    color: white;
    /*padding-top: 13px;*/
    padding: 13px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
	border-radius: 0px 4px 4px 0px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {

	background-color:  #2ecc71;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #d3fdaf;
    color: #000;
}
/*------------------END-NAVBAR---------------------*/

::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(197,255,233,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(197,255,233,0.4); 
}
