<div class="jumbotron col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom: 0px; margin-top: 50px; position: block;">
	<div class="container">
		<h2>Trang web bất động sản</h2>		
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
				<h4>Thị trường bất động sản</h4>
				<ul>
					<li><a href="">Thị trường Hà Nội</a></li>
					<li><a href="">Thị trường Hà Nội</a></li>
					<li><a href="">Thị trường Hà Nội</a></li>
					<li><a href="">Thị trường Hà Nội</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
				<h4>Thị trường nhà đất cho thuê</h4>
				<ul>
					<li><a href="">Thị trường Hà Nội</a></li>
					<li><a href="">Thị trường Hà Nội</a></li>
					<li><a href="">Thị trường Hà Nội</a></li>
					<li><a href="">Thị trường Hà Nội</a></li>
				</ul>

			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
				<h4>Khám phá</h4>
				<ul>
					<li><a href="">Thị trường Hà Nội</a></li>
					<li><a href="">Thị trường Hà Nội</a></li>
					<li><a href="">Thị trường Hà Nội</a></li>
					<li><a href="">Thị trường Hà Nội</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
				<h4>Dành cho chuyên gia</h4>
				<ul>
					<li><a href="">Thị trường Hà Nội</a></li>
					<li><a href="">Thị trường Hà Nội</a></li>
					<li><a href="">Thị trường Hà Nội</a></li>
					<li><a href="">Thị trường Hà Nội</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>